:root {
    --light-brown: #3C2C27;
    --dark-brown: #322823;
    --white: #FBFBFB;
    --off-white: #ECE9E0;
    --orange: #B6592B;
    --body-font: 'Pontano Sans', sans-serif;
    --title-font: 'Bevan', cursive;
    --bar-height: 50px;
    --padding: 30px;
}

.body {
    background-color: var(--off-white);
    height: 100%;
    width: 100%;
    color: var(--dark-brown);
    font-family: var(--body-font);
    font-size: 25px;
    line-height: 1.2em;
    display: grid;
    grid-template-columns: minmax(30px, 1fr) minmax(100px, 800px) minmax(30px, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0px;
}

.text_container {
    margin-top: calc(var(--bar-height) + var(--padding));
    margin-bottom: calc(var(--bar-height) + var(--padding));
    grid-column-start: 2;
    background-color: var(--white);
    border-radius: 10px;
    border: 1px dashed var(--orange);
}

p {
    margin: var(--padding);
}

.header {
    padding-left: var(--padding);
    background: var(--dark-brown);
    min-height: var(--bar-height);
    margin-bottom: var(--padding);
    color: var(--white);
    font-size: 1.6em;
    font-family: var(--title-font);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header a {
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    min-height: var(--bar-height);
    line-height: var(--bar-height);
    vertical-align: center;
    margin-left: var(--padding);
}

.header a:hover,
.footer a:hover,
a.active {
    color: var(--orange);
}

.footer {
    display: flex;
    flex-direction: row;
    min-height: var(--bar-height);
    line-height: var(--bar-height);
    vertical-align: calc(center - 50%);
    width: 100%;
    background: var(--dark-brown);
    font-family: var(--title-font);
    color: var(--white);
    padding-left: var(--padding);
}

.footer a {
    text-decoration: none;
    display: inline-block;
}

.footer a img {
    margin-right: calc(var(--padding) * .5);
    height: calc(var(--bar-height) * .6);
    width: calc(var(--bar-height) * .6);
    vertical-align: middle;
}