<% provide(:title, "Feedback") %>
<% provide(:lang, "de") %>

<h1>Feedback</h1>
<blockquote class="blockquote container m-5">
    <p class="mb-0">
        Cornelia hat einen anspruchsvollen Text besser als ich je erwartet hätte
        auf die Bedürfnisse der deutschen Leserschaft zugeschnitten. Das Endergebnis war akkurat
        und wurde pünktlich geliefert. Ich kann sie jedem wärmstens empfehlen, der bei seiner
        Übersetzung auf Takt und Intelligenz wert legt.
    </p>
    <footer class="ml-3 mt-1 small text-muted">S.E.<br>Privatkunde</footer>
</blockquote>
<blockquote class="blockquote container m-5">
    <p class="mb-0">
        Seit drei Jahren übersetzt Cornelia Kelinske für IJM Deutschland. Jederzeit: zuverlässig, präzise und wortgewandt.
        Wir sind äußerst zufrieden.
    </p>
    <footer class="ml-3 mt-1 small text-muted">
    Judith Kühl<br>Assistenz des Vorstandsvorsitzenden / Administrative Coordinator<br>
    INTERNATIONAL JUSTICE MISSION<br>DEUTSCHLAND e.V.
    </footer>
</blockquote>
<blockquote class="blockquote container m-5">
    <p class="mb-0">
        Mein Name ist Julia Glaremin, ich bin Geschäftsführende Gesellschafterin von Apollo Lingua. Wir sind eine in
        Deutschland ansässige Übersetzungsagentur. Wir sind stolz darauf, sagen zu können, dass wir mit den besten
        und zuverlässigsten Übersetzerinnen und Übersetzern der Branche zusammenarbeiten und Cornelia Kelinske
        bringt all diese Qualitäten mit und noch viel mehr. Sie ist unglaublich talentiert, äußerst präzise und hat
        eine hervorragende Arbeitsmoral und Einstellung. Ich habe ihre Fähigkeiten in den vergangenen Jahren für
        zahlreiche Übersetzungsprojekte genutzt und sie ist eine der besten Übersetzerinnen, mit denen ich die Ehre
        hatte, zusammenzuarbeiten. Für Deutsch-Englisch und Englisch-Deutsch-Projekte, für die Sie sie in Erwägung
        ziehen, kann ich sie Ihnen nur empfehlen. Sie dürfen mit einer ausgezeichneten Übersetzung rechnen.
    </p>
    <footer class="ml-3 mt-1 small text-muted">
        Julia Glaremin<br>Geschäftsführende Gesellschafterin<br>Apollo Lingua GbR
    </footer>
</blockquote>
