<% provide(:title, "Kontakt") %>
<% provide(:lang, "de") %>

<h1>Kontakt</h1>
<p>
    Bitte schicken Sie mir Ihre Anfragen per E-Mail an <a href="mailto:corneliakelinske@gmail.com"><strong>corneliakelinske@gmail.com</strong></a> oder rufen Sie mich an.
    Meine Telefonnummer (in Kanada) lautet <strong>+1 780 782 1782</strong>
</p>
<p>
    Ihre Anfragen beantworte ich stets so schnell wie möglich, bitte beachten Sie jedoch, dass Sie mich am besten in der Zeit von
    8 – 16 Uhr MST bzw. 16 – 0 Uhr MEZ erreichen können.
</p>
