<% provide(:title, "Linzenzen") %>
<% provide(:lang, "de") %>

<p>
    Das svg-Angebotssymbol wurde von <a href="https://thenounproject.com/shalfdesign/">Arafat Uddin vom Noun Project erstellt.</a>
</p>
<p>
    Dieses Werk ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Namensnennung 4.0 International Lizenz</a>.
</p>