<% provide(:title, "Linzenzen") %>
<% provide(:lang, "de") %>

<p>
    Quote svg icon created by <a href="https://thenounproject.com/shalfdesign/">Arafat Uddin from the Noun Project</a>
</p>
<p>
    Dieses Werk ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Namensnennung 4.0 International Lizenz</a>.
</p>