/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
$theme-colors: ("grey0": hsl(0, 0%, 99%),
"grey1": hsl(60, 0%, 79%),
"grey2": hsl(60, 0%, 70%),
"grey3": hsl(60, 0%, 39%),
"grey4": hsl(60, 0%, 25%),
"grey5": hsl(60, 0%, 17%),

"brown0": hsl(18, 15%, 95%),
"brown1": hsl(20, 28%, 65%),
"brown2": hsl(20, 20%, 52%),
"brown3": hsl(20, 24%, 36%),
"brown4": hsl(21, 23%, 15%),
"brown5": hsl(23, 19%, 11%),

"orange1": hsl(12, 80%, 75%),
"orange2": hsl(12, 70%, 56%),
"orange3": hsl(12, 80%, 44%),
"orange4": hsl(12, 90%, 33%),
"orange5": hsl(12, 95%, 21%),

"footer": rgba(255, 255, 255, 0.5),
"footer-over": rgba(255, 255, 255, 0.75),
);

$font-size-base: 1rem;
@import url('https://fonts.googleapis.com/css?family=Cormorant:500|IBM+Plex+Serif:400');
$font-family-base: 'IBM Plex Serif',
serif;
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

h1 {
  font-family: 'Cormorant', serif;
  color: map_get($theme-colors, 'orange4');
  font-size: 2rem;
}

h2 {
  margin-top: 40px;
  font-size: 1rem;
  // font-size: 1.2rem;
  // font-family: 'IBM Plex Serif';
  color: map_get($theme-colors, 'orange4');
}

.background-image {
  background-image: image-url("paperbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.icon {
  height: 1rem;
  margin-bottom: 2px;
}

.rotate {
  transform: rotate(180deg);
}
a{
  color: map_get($theme-colors, 'orange5');
  &:hover {
    color: map_get($theme-colors, 'orange2');
  }
}

a.text-footer:hover {
  color: map_get($theme-colors, 'footer-over') !important;
  text-decoration: none;
}

.quote {
  fill: map_get($theme-colors, 'footer-over');
}

.border-top,
.border-bottom,
.border-right {
  border-width: 3px !important;
}

// sticky footer code

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
  /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  /* Set the fixed height of the footer here */
  line-height: 40px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}