/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
$theme-colors: ("grey0": hsl(0, 0%, 95%),
"grey1": hsl(60, 0%, 79%),
"grey2": hsl(60, 0%, 70%),
"grey3": hsl(60, 0%, 39%),
"grey4": hsl(60, 0%, 25%),
"grey5": hsl(60, 0%, 17%),

"brown0": hsl(18, 33%, 82%),
"brown1": hsl(20, 28%, 65%),
"brown2": hsl(20, 20%, 52%),
"brown3": hsl(20, 24%, 36%),
"brown4": hsl(21, 23%, 15%),
"brown5": hsl(23, 19%, 11%),

"orange1": hsl(11, 70%, 75%),
"orange2": hsl(12, 52%, 56%),
"orange3": hsl(12, 64%, 44%),
"orange4": hsl(12, 65%, 33%),
"orange5": hsl(13, 56%, 21%));

$primary: #3C2C27;
$secondary: #B6592B;
$light: #F1EFE8;
$white: #FBFBFB;
$font-size-base: 1rem;
$font-family-base: 'IBM Plex Sans',
sans-serif;
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500,700|IBM+Plex+Sans:400,600');
@import "bootstrap";

h1,
h2,
h3 {
  font-family: 'Cormorant Garamond', serif;
}

h2{
  margin-top: 40px;
  font-size: 1.7rem;
  font-weight: 600;
}

.background-image {
  background-image: image-url("paperbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.foreground {
  background-color: $white;
}

.icon {
  height: 1rem;
  margin-bottom: 2px;
}

body {
  color: $primary;
}