<% provide(:title, "Contact Me") %>
<% provide(:lang, "en") %>

<h1>Contact</h1>
<p>
    You can reach me by sending an email to <a href="mailto:cornelia@corneliakelinske.com"><strong>cornelia@corneliakelinske.com</strong></a> or give me a call at <strong>+1 780 782 1782</strong>
</p>
<p>
    While I will respond to your emails as fast as I can and answer my phone when you call me, the best time to contact me
    is from 8 am – 4 pm MST
</p>
