<% provide(:title, "Contact Me") %>
<% provide(:lang, "en") %>

<h1></h1>


<h1>
    Contact
</h1>
<div class="row">
    <div class="col-12 col-lg-8 mb-3">
        <p>
            You can reach me via email at <a href="mailto:corneliakelinske@gmail.com"><strong>corneliakelinske@gmail.com</strong></a>
            or by phone at <strong>+1 780 782 1782</strong>
        </p>
        <p>
            I check my emails regularly from 8 am - 4:30 pm MST and do my best to answer promptly.
        </p>
    </div>
    <div class="col-12 col-lg-4 mt-3 mb-3">
        <%= image_tag 'contact.jpg', class: 'w-100 d-block rounded shadow mx-auto' %>
    </div>
</div>