<% provide(:title, "Contact Me") %>
<% provide(:lang, "en") %>

<h1></h1>


<h1>
    Contact
</h1>
<div class="row">
    <div class="col-12 col-lg-8 mb-3">
        <p>
            You can reach me by sending an email to <a href="mailto:corneliakelinske@gmail.com"><strong>corneliakelinske@gmail.com</strong></a> or give me a call at <strong>+1 780 782 1782</strong>
        </p>
        <p>
            While I will respond to your emails as fast as I can and answer my phone when you call me, the best time to contact me
            is from 8 am – 4 pm MST
        </p>
    </div>
    <div class="col-12 col-lg-4 mt-3 mb-3">
        <%= image_tag 'contact.jpg', class: 'w-100 d-block rounded shadow mx-auto' %>
    </div>
</div>