<% provide(:title, "Feedback") %>
<% provide(:lang, "en") %>

<h1>Feedback/Clients</h1>

<blockquote class="blockquote container m-5">
  <p class="mb-0">Cornelia tailored a rather involved text to the needs of a German readership in ways I would never have guessed at.
The finished product was neat and timely. I would warmly recommend her to anyone requiring tact and intelligence in
their translation work.</p>
  <footer class="ml-3 mt-1 small text-muted">S.E. (private client)</footer>
</blockquote>

<blockquote class="blockquote container m-5">
  <p class="mb-0">Cornelia Kelinske has been translating for IJM Deutschland for three years. She is always reliable, precise and
skilled with words. We are extremely satisfied.</p>
  <footer class="ml-3 mt-1 small text-muted">Judith Kühl<br>Administrative Coordinator<br>INTERNATIONAL JUSTICE MISSION<br>DEUTSCHLAND e.V.</footer>
</blockquote>

<blockquote class="blockquote container m-5">
  <p class="mb-0">My name is Julia Glaremin, Managing Partner of Apollo Lingua. We are a Germany-based translation company. We pride
ourselves on working with the best and most reliable translators in the industry and I am proud to say that Cornelia
Kelinske fulfills all of these qualities and more. She is incredibly talented, very accurate and has a fantastic
work-ethic and attitude. I have utilized her skills on numerous translation projects over the past couple of years and
she is one of the best translators I ever had the privilege of working with. I am pleased to recommend her for any
German/ English and English/ German project for which she may be under consideration. You can expect nothing but
excellence from her.</p>
  <footer class="ml-3 mt-1 small text-muted">Julia Glaremin<br>Managing Partner<br>Apollo Lingua GbR</footer>
</blockquote>