<% provide(:title, "Welcome") %>
<% provide(:lang, "en") %>

<h1>
    Welcome
</h1>
<p>
    If you are looking for high-quality translation and interpretation services for the language combinations English –
    German and/or German – English, you are looking in the right place. As a professional translator/interpreter with
    several years of experience in various areas of expertise, I can offer high-quality translations at a competitive
    rate.
</p>
<p>
    Please refer to the About me section to learn more about my qualifications and professional experience. Information
    about my services and areas of expertise is available under Services.
</p>
<p>
    feel free to contact me if you have any questions or if you would like to receive a free and non-binding
    quotation.
</p>
<p>
    I am looking forward to working with you!
</p>

<blockquote class="blockquote container m-5">
  <p class="mb-0">I pity anyone who thinks machine translation is a substitute for the real thing.</p>
  <footer class="blockquote-footer">Private client</cite></footer>
</blockquote>