<div class="container-fluid bg-brown4 text-white">
    <div class="container pt-3 d-sm-flex justify-content-between">
        <%= image_tag 'logo1.png', alt:  "CorneliaKelinske"%>
        <%= image_tag 'logo2.png', alt:  "Professional Translator and Interpreter | Diplomdolmetscherin und Ubersetzerin", class: 'd-none d-sm-inline-flex'%>
    </div>
</div>
